/* ======GENERALES======= */
*{
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
/* ======HEADER======== */
.container__principalHeader{
  width: 100vw;
  height: 8vh;
  background-color:#1e3f72;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.conteiner__contentHeader{
  width: 65%;
  display:flex ;
  justify-content: space-between;
  padding: .4rem;
}

.headerSearch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;


}
.inputHeader{
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  font-size: 1.7vh;
  height: 2vh;
  width: 20vw;
}
.buttonSearch{
  border:  1px solid white;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.4rem;
  width: 11vw;
  display: flex;
  justify-content: space-around;
  align-items:center ;
  color: white;
  transition: 0.2s ease;
}
.buttonSearch:hover,
.header__buttonAdd:hover{
  
  cursor: pointer;
  background-color: #4f7abb;

}
.header__buttonAdd{
  width: 20vw;
  border: 1px solid white;
  background-color: transparent;
  padding: .4rem;
  border-radius: .4rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

/* ====== MAIN ========= */
  .container__view{
    display: grid;
    grid-template-columns: .2fr .8fr;
    
  }

  /* ====STORE==== */

  .store{
    
    max-height: 92vh;
    overflow: auto;
    background-color: rgb(215, 210, 215);
    width: 100%;
  }

.sectionStore{
background-color: rgb(245, 245, 245);
margin: 1rem;
padding:1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.containersectionTitle{
  margin: 1rem;
  font-size: 3vh;
  border-bottom: 1px solid grey;
}

.containerProductStore{
  width: 100%;
  display:grid;
  grid-template-columns:repeat(3, .6fr);
  gap:2vh;

}

 .conteinerTargetItem{
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .4rem;
  border: 1px solid rgb(249, 249, 249);
  box-shadow: 2px 2px 5px 4px rgb(201, 201, 201) ;
  background-color: aliceblue;
  border-radius: .4rem;
  transition: .2s ease;
}
  .conteinerTargetItem:hover{
    cursor: pointer;
    transform: scale(1.08);
  }
 
.conteinerTargetItem h2{
  font-size: 2vh ;
  text-align: center;

}

.targetProps{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sectionStore img{
 
  width: 100%;
  height: 70%;
  border-radius: .4rem;
  box-shadow: 2px 2px 5px 4px rgb(201, 201, 201) ;
  object-fit: cover;

}
  
  /* ====LISTASIDE */
  .listAside{
    
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .listAside h2{
    display: flex;
    margin-top: 2vh;
    font-size: 3vh;
    justify-content: center;
    align-items: center;

  }

  .listAside ul{
    margin-top: 3vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1vh;
  }

  .listAside ul li{
    font-size: 2vh;
    font-weight: 500;
    padding-bottom: 0.4rem;
    border-radius: 0.4rem;
    transition: .2s ease;

  }

  .listAside ul li:hover{
    cursor: pointer;
   background-color:#1e3f72 ;
   color: white;
  }

  .liActive{

background-color: #1e3f72;
color: white;

  }

  /* =====POPUP==== */
  .popUpContainer__principal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter:  blur(4px);

  }
  .containerTitle__popUp{
    width: 100%;
    text-align: center;
  }

  .popUpContainer{
    width: 50vw;
    height: 50vh;
    background-color: white;
    box-shadow: 5px 2px 10px 10px rgba(0, 0, 0, .4);
    border-radius: .4rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

  }
.containerInputs__popUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;

}

.containerInputs__popUp input,
.containerInputs__popUp select {

  width: 60%;
  border:1px solid grey;
  padding: .4rem;
  border-radius: .4rem;

}
.containerButton__popUp{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.buttonPopUp {
  padding: .6rem;
  border: none;
  border-radius: .4rem;
  font-size: 2vh;
}
.cancel{
  background-color: rgb(221, 221, 80);

}

.acept{
  background-color: rgb(48, 168, 48);

}

.delete{
  background-color: rgb(236, 72, 72);
}
/* media querys */

@media  (min-width: 1100px) {
  .containerProductStore{
   
    grid-template-columns:repeat(4, 1fr);
    
  
  }
  
   .conteinerTargetItem{
    width: 15vw;
  }
}

@media  (max-width: 680px) {
  .containerProductStore{
   
    grid-template-columns:repeat(2, 1fr);
    
  
  }
  
   .conteinerTargetItem{
    width: 25vw;
  }
}
/* ====SCROLLBAR====== */
::-webkit-scrollbar{
  width: 0.7rem;
  background-color: white;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background-color: #1e3f72;
  border-radius: .4rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #4f7abb;
}
